/* National */
@font-face {
	font-family: "National 2 Web";
	src: url("assets/National2Web-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "National 2 Web";
	src: url("assets/National2Web-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

/* Tiempos Text */
@font-face {
	font-family: "Tiempos Text Web";
	src: url("assets/TiemposTextWeb-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Tiempos Text Web";
	src: url("assets/TiemposTextWeb-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}