
body {
	background-color: var(--color-bg, white);
	color: var(--color-fg, black);
	line-height: 1.4;
	font-family: var(--font-body, serif);
	font-feature-settings: 'kern' 1, 'onum' 0, 'liga' 0, 'tnum' 1;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 16px 0;
}


img,
video {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--color-button-bg, lightgray);
	color: var(--color-button-fg, black);
	border-radius: var(--border-radius, 0);
	border: none;
	font-family: var(--font-form, sans-serif);
	font-size: inherit;
	outline: none;
	padding: 8px;
	text-decoration: none;
}

button {
	cursor: pointer;
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

button:focus,
a:focus {
	outline: 2px solid var(--color-focus);
	outline-offset: 2px;
}

button:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
	outline: 2px solid transparent;
}

button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

table caption,
td,
th {
	text-align: left;
}

td,
th {
	padding: 8px 0;
	vertical-align: top;
	word-wrap: break-word;
}

thead {
	border-bottom: 1px solid var(--color-border, lightgray);
}

::-moz-selection {
	background-color: var(--color-selection, lightgray);
}
::selection {
	background-color: var(--color-selection, lightgray);
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}

/* desktop (mouse-enabled device) */
@media (hover: hover) and (pointer: fine) {
	button:hover {
		background: var(--color-button-hover, lightgray);
	}	

	button:disabled:hover {
		opacity: 0.5;
		cursor: not-allowed;
		background: var(--color-button-bg, lightgray);
	}
}