@font-face {
	font-family: "National";
	src: url("../../assets/fonts/National2Web-Regular.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "National";
	src: url("../../assets/fonts/National2Web-Bold.woff2")
		format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Canela";
	src: url("../../assets/fonts/Canela-Light-Web.woff2")
		format("woff2");
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Canela";
	src: url("../../assets/fonts/Canela-Bold-Web.woff2")
		format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}
